@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body, html {
    font-family: 'Open Sans', sans-serif;
}

.sidebar {
    width: 20%;
    background-color: #fff;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-link {
    padding: 20px;
    font-size: 12px;
}

.sidebar-image{
    padding-top: 100px;
    width: 100%; 
    height: 40px;
}
